<html>
<head>
    <title>Best store!</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="static/store.css" rel="stylesheet">
</head>

<body>
    <h1>Furniture store:</h1>
    <h3>Add new product:</h3>
    <form>
        <div>
            <input type="text" name="prod_name" id="prod_name">
            <label for="prod_name">Product name</label>
        </div>
        <div>
            <input type="number" name="price" id="price">
            <label for="price">Price (rub.)</label>
        </div>
        <button onClick="addProduct()">Add</button>
    </form>
    <ul>
        {% for product in products_list %}
        <li>
            <div>
                <div>{{ product['prod_name'] }}</div>
                <div>{{ product['price'] }} rub.</div>
                <input value="{{product['id']}}" onChange="updateProd(this)" name="in_stock" type="checkbox" {% if product.in_stock %} checked {% endif %}>
                <label for="in_stock">In stock</label>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>