<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Список пройденных игр</h1>
    </header>
    <main>
        <form method="POST" action="/">
            <div>
                <input type="text" name="title" placeholder="Название" required>
            </div>
            <div>
                <input type="number" name="year" placeholder="Год издания" required>
            </div>
            <div>
            <button type="submit">Добавить игру</button>
        </form>
        <ul>
            {% for game in games %}
                <li>{{ game.title }} - <strong>{{ game.year }}</strong> </li>
            {% endfor %}
        </ul>
        <form method="POST" action="/clear">
            <button type="submit">Clear</button>
        </form>
    </main>
</body>
</html>